.bold {
  font-weight: bold;
}

.common {
  background-color: gainsboro;
}

.rare {
  background-color: #ffc107;
}

.epic {
  background-color: #673ab7;
  color: white;
}

.levelField {
  display: flex;
}

.levelField input {
  margin: 0 4px;
  text-align: center;
  width: 40px;
}
